
/*alista las lineas del  contenedor*/
/*align-content*/
.ac {
    border: 1px solid #000;
    width: 300px;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
}
.ac-col {
    border: 1px solid #e01010;
    width: 300px;
    height: 300px;
    display: flex;
    flex-flow: column wrap;
}

.ac-start {
    align-content: flex-start;
}
.ac-end {
    align-content: flex-end;
}
.ac-center {
    align-content: center;
}
.ac-around {
    align-content: space-around;
}
.ac-between {
    align-content: space-between;
}
.ac-stretch {
    align-content: stretch;
}
.ac-stretch div{
    height: unset;
}
.ac-stretch-col div{
    width: unset;
}
