.parent {
    display: grid;
}

/*6.grid-row*/
.row-start {
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}
.row-start .selected {
    grid-row-start: 2;
    background: rgb(238, 84, 84);
}

.row-end {
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}
.row-end .selected {
    grid-row-end: 2;
    background: rgb(238, 84, 84);
}

.row {
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}
.row .selected {
    background: rgb(238, 84, 84);
    grid-row: 1 / 4;
}
