/*1.2.flex-direction: row - column-flow*/
/*alinea los elementos horizontalmente
*/

/*justify-content*/
.jc {
    width: 500px;
    border: 1px solid #000;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
}

.jc-col {
    width: 500px;
    height: 400px;
    border: 1px solid #000;
    display: flex;
    flex-flow: column wrap;
}

.jc-start {
    justify-content: flex-start;
}
.jc-end {
    justify-content: flex-end;
}
.jc-center {
    justify-content: center;
}
.jc-between {
    justify-content: space-between;
}
.jc-around {
    justify-content: space-around;
}
