/**
Especifica el factor de crecimiento de un elemento flexible
 */

.grow-container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
}

.grow-item:nth-of-type(1) { flex-grow: 1; }
.grow-item:nth-of-type(2) { flex-grow: 1; }
.grow-item:nth-of-type(3) { flex-grow: 4; }
.grow-item:nth-of-type(4) { flex-grow: 1; }

.grow-item {
    background: tomato;
    border: 3px solid rgba(0,0,0,.2);
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
