/*1.2.flex-direction*/
.row {
    display: flex;
    flex-direction: row;
}
.row_reverse {
    display: flex;
    flex-direction: row-reverse;
}
.column {
    display: flex;
    flex-direction: column;
}
.column_reverse {
    display: flex;
    flex-direction: column-reverse;
}
