/**
Especifica el orden utilizado para disponer los elementos en su contenedor flexible
 */

.order-container{
    display: flex;
}

.order-item{
    background: tomato;
    border: 3px solid rgba(0,0,0,.2);
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    flex-basis: 200px;
}

/*
 0 ::  no  cambia
 1 :: se mueve al final
 -1 :: al inicio
*/
.order-item:nth-of-type(3) { order: 1; }
