.parent {
    display: grid;
}

/*grid-column*/
.column-start {
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}
.column-start .selected {
    background: rgb(238, 84, 84);
    grid-column-start: 4;
}

.column-end {
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}
.column-end .selected {
    background: rgb(238, 84, 84);
    grid-column-end: 4;
}

.column {
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}
.column .selected {
    background: rgb(238, 84, 84);
    grid-column: 1 / 4;
}
